node_modules/
npm-debug.log
*.scssc
.sass-cache
.DS_Store
settings-production.json
settings-development.json
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
*.iml
.coverage/
coverage/
.nyc_output/
mup.js
mup.json
.deploy/
settings.json
/packages
/meteor-bundle
/scripts/mongodb-binaries
.meteor/local
.history
.versions
.desktop
.desktop-build
.desktop-installer
.meteor-build
meteor-bundle
version.desktop 
